*.aux
*.log
*.dvi
*.exa
*.idx
*.ind
*.ilg
*.cb
*.blg
*.bbl
*.glo
*.gls
*.tar.bz2
*.tar.gz
*.mpx
*.out
*.exa
*.nav
*.snm
*.toc
*.ver
*.hst
*.png
*.mkv
*.mp4
*~
*-eps-converted-to.pdf
.#*
\#*
# auctex dir
auto/
/bin/ffmpeg
*.synctex.gz
